{% extends 'base.html.twig' %}

{% block title %}Site officiel du Breizh Fobal Klub{% endblock %}

{% block body %}
<div class="nextMatch">Futur match date</div>

<div class="homepageContent">Contenu page d'accueil
    <section class="lastMatch">
        {% for matcharticle in matcharticles %}
            <img src="{{ asset('uploads/photo_matches/' ~ matcharticle.mathPhoto) }}" alt="{{ matcharticle.articleTitle }}">
            <a href="{{ path('match_articles') }}">{{ matcharticle.articleTitle }}</a>
        {% endfor %}
    </section>

    <section class="lastNews">
        Dernières infos
        {% for novelty in novelties %}
            <ul>
                <li>{{novelty.noveltyTitle}}</li>
            </ul>
        {% endfor %}
    </section>

    <section class="calendrar">
        Calendrier
    </section>
</div>

<section class="partnerContainer">
    {% for partner in partners %}
    <li><img src="{{ asset('uploads/partners/' ~ partner.partnerLogo2) }}" alt="{{ partner.partnerName }}"></li>
    {%  endfor %}
</section>
{% endblock %}
