{% extends 'base.html.twig' %}


{% block title %}Site officiel du Breizh Fobal Klub{% endblock %}

{% block content %}
    <div class="main">
        <div class="content">
            <div class="container">
                {% for nextFootballMatch in nextFootballMatches %}
                <div class="nextMatch">{{ nextFootballMatch.footballMatchDate|format_datetime('full','short', locale='fr') }} - {{ nextFootballMatch.footballMatchLocation }} : {{ nextFootballMatch.bfkTeam}}-{{ nextFootballMatch.bfkTeamOpponent}}</div>
                {% endfor %}
                <section class="lastMatch">
                    {% for matcharticle in matcharticles %}
                        <img src="{{ asset('uploads/photo_matches/' ~ matcharticle.mathPhoto) }}"
                                 alt="{{ matcharticle.articleTitle }}">
                        <div>
                            <a href="{{ path('match_articles') }}">{{ matcharticle.articleTitle }}</a>
                        </div>
                    {% endfor %}
                </section>
            </div>
            <div class="sidebar">
                <div class="container">
                    <section class="lastNews">
                        <h3>Dernières infos</h3>
                        {% for novelty in novelties %}
                            <ul>
                                <li class="noveltyTitleList"><a class="noveltyTitle" href="{{ path('novelty_id',{'id': novelty.id}) }}">{{ novelty.noveltyDate|date('d/m') }} : {{ novelty.noveltyTitle }}</a></li>
                            </ul>
                            {% endfor %}
                    </section>
                    <section class="team-rank">
                        <h3>Classement</h3>
                        <p>En construction</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
