{% extends 'base.html.twig' %}


{% block title %}Infrastructures | Site Officiel du Breizh Fobal Klub{% endblock %}

{% block content %}
<div class="main">
    <h1>Les Infrastructures du Club</h1>

<section class="stadiums">
    {% for stadium in stadiums %}
        <div class="stadiumContainer">
            {{ stadium.stadiumName }}
            {{ stadium.stadiumAdress }}
            {{ stadium.stadiumCity }}
            <img src="{{ asset('uploads/infrastructures/' ~ stadium.stadiumPhoto) }}" alt="{{stadium.stadiumName}}">
        </div>
    {% endfor %}
</section>
</div>
{% endblock %}
