<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <header>
            <h1>Breizh Fobal Klub</h1>
            {% if app.user %} {# si l'user est connecté #}
                <div class="mb-3">
                    {{ app.user.lastName}} {{ app.user.firstName }}
                </div>
                <a class="dropdown-item" href="profile.html">
                    <i class="fa fa-user">
                    </i>
                    Mon compte
                </a>
                <a class="dropdown-item" href="{{ path('app_logout') }}">
                    <i class="fa fa-sign-out">
                    </i>
                    Se déconnecter
                </a>
            {% else %} {# si l'user n'est pas connecté #}
                <a class="dropdown-item" href="{{ path('app_login') }}">
                    <i class="fa fa-sign-in"></i>
                    Se connecter
                </a>
            {% endif %}

            {# Barre de navigation #}
            <nav class="menuBfk navbar navbar-expand-lg navbar-light">
                {# bouton hamburger #}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Le Club
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Histoire du club</a>
                                <a class="dropdown-item" href="#">Le Conseil d'Administration</a>
                                <a class="dropdown-item" href="#">Infrastructures</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                                Equipes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Staff Sportif</a>
                                <a class="dropdown-item" href="#">Seniors</a>
                                <a class="dropdown-item" href="#">Féminines</a>
                                <a class="dropdown-item" href="#">Jeunes</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                                Compétitions
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Résultats</a>
                                <a class="dropdown-item" href="#">Calendrier</a>
                            </div>
                        </li>
                        <li class="nav-item  dropdown active">
                            <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                                Partenaires
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-link active" href="{{ path('partner') }}"> Nos Partenaires</a>
                            </div>
                        </li>
                        <li class="nav-item  dropdown active">
                            <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                                Contacts
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-link active" href="">Contacts</a>
                            </div>
                        </li>
                        <li class="nav-item  dropdown active">
                            <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                                Nous rejoindre
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-link active" href="">Demande d'inscription</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        {% block body %}
        <main class="siteContent">
        </main>
        {% endblock %}
        <footer class="footerContainer">
            Mentions légales
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
