<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Site Officiel du Breizh Fobal Klub{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('icons/logo_club.ico') }}" type="image/x-icon"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header class="header">
    <div class="siteTitle">
        <img class="clubLogoHeader img-fluid" src="{{ asset('uploads/logo_club/logo_club.png') }}" alt="logoheader"/>
        <div class="siteTitleText">
            <h1>Breizh Fobal Klub</h1>
        </div>
    </div>

        {% if app.user %} {# si l'user est connecté #}
            <div class="connectionContainerConnected">
                <div class="mb-3">
                    {{ app.user.firstName }} {{ app.user.lastName }}
                </div>
                <a class="dropdown-item" href="{{ path('admin') }}">
                    <i class="fa fa-user">
                    </i>
                    Gestion des contenus
                </a>
                <a class="dropdown-item" href="{{ path('match_convocation') }}">
                    <i class="fa fa-football-ball">
                    </i>
                    Convocations
                </a>
                <a class="dropdown-item" href="{{ path('app_logout') }}">
                    <i class="fa fa-sign-out">
                    </i>
                    Se déconnecter
                </a>
            </div>
        {% else %} {# si l'user n'est pas connecté #}
            <a class="connectionContainer dropdown-item" href="{{ path('app_login') }}">
                <i class="fa fa-sign-in"></i>
                Se connecter
            </a>
        {% endif %}

    {# Barre de navigation #}
    <nav class="bfkNavbar navbar navbar-expand-lg navbar-light">
        {# bouton hamburger #}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="bfkNavbarContent collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Le Club
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('history_club') }}">Histoire du club</a>
                        <a class="dropdown-item" href="#">Le Conseil d'Administration</a>
                        <a class="dropdown-item" href="{{ path('infrastructures') }}">Infrastructures</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-expanded="false">
                        Equipes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Staff Sportif</a>
                        <a class="dropdown-item" href="{{ path('seniors') }}">Seniors</a>
                        <a class="dropdown-item" href="{{ path('feminines') }}">Féminines</a>
                        <a class="dropdown-item" href="#">Jeunes</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-expanded="false">
                        Compétitions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('results') }}">Résultats</a>
                        <a class="dropdown-item" href="#">Calendrier</a>
                    </div>
                </li>
                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown" href="" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-expanded="false">
                        Partenaires
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('partner') }}"> Nos Partenaires</a>
                    </div>
                </li>
                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-expanded="false">
                        Contacts
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="">Contacts</a>
                    </div>
                </li>
                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown" href="" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-expanded="false">
                        Nous rejoindre
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('preinscription') }}">Demande d'inscription</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}

{{ render(controller(
    'App\\Controller\\PartnerController::partnerblock'
)) }}

<footer class="footerContainer">
    Mentions légales
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
